body {
  max-width: 1400px;
  width: 90vw;
  margin: 1rem auto;
  /* margin-top: 12.5rem; */
  font-family: "Roboto", sans-serif;
  color: #222;
  background-color: #f2f4fc;
}

.tech {
  height: 50px;
}

.profile-img {
  border-radius: 50%;
  /* max-width: 400px; */
}

.cards-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  column-gap: 30px;
  margin: auto;
}

.project-card {
  /* height: 410px; */
  width: 40%;
  padding-bottom: 25px;
  position: relative;
}
@media all and (max-width: 767px) {
  .cards-container {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
  }
  .project-card {
    width: 100%;
    margin-top: 30px;
  }
}
