body {
  max-width: 1400px;
  width: 90vw;
  margin: 0 auto;
  /* margin-top: 12.5rem; */
  font-family: "Roboto", sans-serif;
  color: #222;
  background-color: #f2f4fc;
}

.my-text-intro {
  margin-right: 60px;
  font-size: 1.5rem;
  text-align: justify;
  margin-left: 0px;
}

.profile-img {
  border-radius: 50%;
  max-width: 400px;
}

.links-profile {
  margin-top: 2rem;
  display: flex;
  justify-content: space-around;
}

.work-menu {
  display: flex;
  flex-direction: column;
}
.list-menu {
  display: flex;
  flex-direction: row;
}
.list-menu > p {
  margin: 10px;
}

.img-project {
  width: 90%;
  border-radius: 2rem;
  margin: auto;
}

.link-articles {
  display: flex;
  justify-content: space-around;
}
